<div class="row">
  <div class="col-md-6">
    <h3>Tue Aug 16</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://laitanawe.github.io/intro-to-bash/01-introduction/index.html">Shell Intro</a>; <a href="https://laitanawe.github.io/intro-to-bash/02-filedir/index.html">Navigating Files and Directories</a></td> </tr>
      <tr> <td>09:45</td>  <td><a href="https://laitanawe.github.io/intro-to-bash/02-filedir/index.html">Navigating Files and Directories</a> (cont)</td></tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://laitanawe.github.io/intro-to-bash/03-create/index.html">Working with Files and Directories</a></td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wed Aug 17</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://laitanawe.github.io/intro-to-bash/04-pipefilter/index.html">Pipes and Filters</a></td> </tr>
      <tr> <td>09:55</td>  <td><a href="https://laitanawe.github.io/intro-to-bash/07-remote/index.html">Working Remotely</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://laitanawe.github.io/intro-to-bash/05-permissions/index.html">Permissions</a></td></tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://laitanawe.github.io/intro-to-bash/06-loop/index.html">Task Automation (Loops and Shell Variables)</td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Thu Aug 18</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://laitanawe.github.io/intro-to-bash/08-scripts/index.html">Shell Scripting</a></td> </tr>
      <tr> <td>10:05</td>  <td><a href="https://laitanawe.github.io/intro-to-bash/11-awk/index.html">AWK</a></td> </tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://laitanawe.github.io/intro-to-bash/10-find/index.html">Pattern Matching and Finding Things (grep)</a></td> </tr>
      <tr> <td>11:40</td>  <td><a href="https://laitanawe.github.io/intro-to-bash/09-aliases/index.html">Aliases and Bash Customization</a></td></tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
